$imageWidthLarge: 400px;
$imageWidthMedium: 320px;
$imageWidthSmall: 208px;
$momentSpacePadding: 5px;
$momentPaddingV: 10px;
$momentPaddingH: 5px;
$imageSpacePaddingV: 5px;
$imageSpacePaddingH: 5px;
$imageHeightOverWidth: 9/16;

$momentWidthLargeImage1: $imageWidthLarge + 2 * $imageSpacePaddingH + 2 * $momentPaddingH;
$momentWidthLargeImage2: 2 * $imageWidthLarge + 2 * $momentPaddingH + 4 * $imageSpacePaddingH;
$momentWidthLargeImage3: 3 * $imageWidthLarge + 2 * $momentPaddingH + 6 * $imageSpacePaddingH;

$momentWidthMediumImage1: $imageWidthMedium + 2 * $imageSpacePaddingH + 2 * $momentPaddingH;
$momentWidthSmallImage1: $imageWidthSmall + 2 * $imageSpacePaddingH + 2 * $momentPaddingH;

.momentSpace {
  padding: $momentSpacePadding;
}
.moment {
  padding: $momentPaddingV $momentPaddingH;
  border-radius: 10px;
  background-color: #5553;
}

.narratives {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}
.narrative {
  padding-bottom: 5px;
  color: #b8d5cd;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imageSpace {
  padding: $imageSpacePaddingV $imageSpacePaddingH;
}
.image {
  width: $imageWidthLarge;
  height: $imageWidthLarge * $imageHeightOverWidth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.moment.image1 {
  width: $momentWidthLargeImage1;
}
.moment.image2 {
  width: $momentWidthLargeImage2;
}
.moment.image3 {
  width: $momentWidthLargeImage3;
}

.linesSpace {
  padding: 5px $imageSpacePaddingH 0;
}
.lines {
  color: #b8d5cd;
  text-align: center;
  background-color: #282828;
  border-radius: 5px;
  padding: 7px 5px;
  font-size: 16px;
  font-weight: 300;
}
.line {
  padding: 2px 0;
}
.line.odd {
  color: #f1d8c5;
}

@media screen and (max-width: 1500px){
  .moment.image3 {
    width: $momentWidthLargeImage2
  }
}

@media screen and (max-width: 1000px){
  .moment.image2 {
    width: $momentWidthLargeImage1
  }
  .moment.image3 {
    width: $momentWidthLargeImage1
  }
}

@media screen and (max-width: 450px) {
  .image {
    width: $imageWidthMedium; 
    height: $imageWidthMedium * $imageHeightOverWidth;
  }

  .moment.image1, .moment.image2, .moment.image3 {
    width: $momentWidthMediumImage1
  }
}

@media screen and (max-width: 350px) {
  .image {
    width: $imageWidthSmall;
    height: $imageWidthSmall * $imageHeightOverWidth;
  }

  .moment.image1, .moment.image2, .moment.image3 {
    width: $momentWidthSmallImage1
  }
}
