.topLine {
  height: 40px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bottomLine {
  height: 40px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.paperSpace {
  padding: 5px 10px 5px 20px;
  width: calc(100vw - 20px);
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.paper {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  min-height: calc(100vh - 90px);  //90 = topline40+ bottomLine40+topPadding5+bottomPadding5
}
.page {
  flex: 1;
  white-space: pre-wrap;
} 
