.table {
  th {
    padding: 2px;
    text-align: center;
    color: beige;
    font-family: monospace;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
  }
  td {
    padding: 2px;
    text-align: center;
    color: white;
    font-size: 14px;
  }
  padding: 10px;
  font-family: fantasy;
  border-radius: 5px;
}
.darkText th{
  color: #333;
}
.darkText td{
  color: #666;
}

.categoryName {
  width: 240px;
  text-align: left !important;
  font-size: 18px !important;
}

.size {
  width: 70px;
}

.price {
  padding-top: 4px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.price.darkText:hover {
  border: 1px solid darkblue;
  border-radius: 5px;
  color: darkblue;
}
.price:hover {
  cursor: pointer;
  border: 1px solid wheat;
  border-radius: 5px;
  color: wheat;
}

.drinkName {
  text-align: left;
  line-height: 16px;
}
.drinkNameInner {
  display: inline-block;
  padding: 5px 5px 0;
  border: 1px solid transparent;
}
.drinkNameInner:hover {
  cursor: pointer;
  border: 1px solid wheat;
  border-radius: 5px;
  color: wheat;
}
.drinkNameInner.darkText:hover {
  border: 1px solid darkblue;
  color: darkblue
}