.goToWimaHome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wimaCircleBtn {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wimaCirleBtnInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wimaCircleBtn:hover {
  background-color: #fcfcfc;
  box-shadow: 0 0 4px #ccc;
}

.text {
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  margin-top: 7px;
  color: gray;
  font-weight: 500;
}