.drinkName {
  padding: 20px 10px 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.size {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stepCardSpace {
  padding: 10px;
}

.buttonSpace {
  display: flex;
  justify-content:  center;
}