@use "../../../../CSS/quiz.module.scss";

.newProject {
  padding: 10px;
}

@media screen and (min-width: quiz.$phoneMaxHeight) {
  .newProject {
    padding: 10px 30px;
  }
}

.fields {
  max-width: 400px;
}