.drinkName {
  padding: 20px 10px 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.markCupSpace {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.buttonSpace {
  display: flex;
  justify-content: center;
}