.youTubeFrame {
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 500px) {
  .youTubeFrame {
    width: 320px;
    height: 240px;
  }
}

.buttonsSpace {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.backButtonSpace {
  padding: 20px;
}