.pageTitle {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 5px 10px 10px;
}

.explainSpace {
  padding: 20px;
}

.stripe {
   color: #635bff;
   font-weight: bold;
}

.explainHeader {
  text-align: center;
}

.explainWord {
  font-size: 20px;
  font-weight: 500;
  color: gray;
  margin-right: 10px;
}

.stripeWord {
  font-size: 30px;
  color: #635bff;
  font-weight: bold;
}

.explainLiners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explainOneliner1 {
  color: #333;
  margin-top: 40px;
  margin-bottom: 30px;
}
.explainOneliner2 {
  color: #555;
  font-size: 16px;
  max-width: 400px;
  margin-bottom: 40px;
}
.explainOneliner3 {
  color: #888;
  font-size: 16px;
  margin-bottom: 20px;
}

.explainRow {
  display: flex;
}

.explain1, .explain2 {
  padding: 10px;
  background-color: #635bff99;
  color: white;
  margin: 10px;
  border-radius: 10px;
}

.instructionFrame {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.instructionTitle {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 20px;
}

.instuctionText {
  font-size: 14px;
  line-height: 26px;
}