@use "../../../CSS/thanky.module.scss";

.giveTips {
  background-color: thanky.$themeGray;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  padding: 24px;
  min-height: 100vh;
}

@media screen and (max-width: thanky.$narrowScreen){
  .giveTips {
    padding: 24px 2px;
  }
}

.placeSearchRow {
  display: flex;
  justify-content: center;
}
.placeSearch {
  width: 100%;
  max-width: 800px;
}

.searchPlaceTitle {
  font-family: 'Reenie Beanie';
  color: darkblue;
  text-align: center;
  font-size: 30px;
  padding: 20px 5px 0;
}

.placeListWords {
  color: black;
  font-family: 'Reenie Beanie';
  font-size: 30px;
  margin-bottom: 30px;
  padding: 0 10%;
}
.placeList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.placeLink {
  font-family: 'Reenie Beanie';
  font-size: 25px;
  color: darkblue;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
}

.placeLink:hover {
  text-decoration: underline;
}

@media screen and (min-width: thanky.$narrowScreen) {
  .searchPlaceTitle {
    font-size: 40px;
    padding: 30px 10px 0;
  }
}