.keyboard {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.key {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}