.case {
  border: 2px solid #0090ce;
  width: 144px;
  height: 164px;
  border-radius: 15px;
  overflow: hidden;
}
.image {
  width: 140px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}