.selections {
  display: grid;
  grid-template-columns: auto 100px 120px;
  grid-column-gap: 5px;
  justify-content: center;
}

.langDiv {
  max-width: 150px;
}

.goDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.attributes {
  font-size: 13px;
  font-weight: 500;
}
.vecteezy {
  color: #ff7900;
}
.freepik {
  color: #0f73ee;
}
.shutterstock {
  color: #f12815;
}
