.plates {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100%  {opacity: 1;}
}

.createProfile {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

.instruction {
  font-size: 16px;
  color: #aaa;
  font-weight: 500;
}

.map {
  position: relative;
  padding: 10px 0;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #122a;
}

@supports (backdrop-filter: blur(2px)) {
  .cover {
    background-color: #1224;
    backdrop-filter: blur(2px);
  }
}