@use "../../../../CSS/movic.module.scss";

$progressHeight: 3px;

.bar {
  height: movic.$movicControlBarHeight;
  width: 100%;
  user-select: none;
}
.bar.pin {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.progressDiv {
  background-color: #9993;
}
.progress {
  background-color: #ccc;
  height: $progressHeight;
}
.barPannel {
  height: calc(100% - $progressHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.barLeft, .barRight {
  display: flex;
  height: 100%;
  align-items: center;
}
.pinDiv {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}
.stopBtnDiv {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.paginationDiv {
  padding: 0 15px;
}