.cardWrap {
  padding: 10px;
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
}
.card {
  padding: 10px;
  padding-top: 0;
  background-color: white;
  border-radius: 10px;
  position: relative;
}