.page {
  display: flex;
  height: 100vh;
}

.page1 {
  flex: 1;
  padding: 50px 20px 50px 50px;
}
.page2 {
  flex: 1;
  padding: 50px 50px 50px 20px;
}

.image {
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bookTitle {
  font-size: 28px;
  font-weight: 700;
}

.author {
  font-size: 20px;
  margin: 70px 0 30px;
}

.dedication {
  font-size: 18px;
  color: #666;
}