.bookCoverImage {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bookTitle {
  font-size: 28px;
  font-weight: 700;
}

.author {
  font-size: 20px;
  margin: 70px 0 30px;
}

.dedication {
  font-size: 18px;
  color: #666;
}